

.input-container{
    background-color: #303030;
    min-height: 5vh;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 60%;
    margin: auto;
    justify-content: center;
    display: flex;
}

.input-container .input-field{
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    width: 100%;
}

.input-container .input-button{
    background-color: white;
    border: none;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container .input-button.disabled{
    background-color: grey;
    cursor: not-allowed;
}