.message {
    border-radius: 18px; 
    padding: 10px 16px;
    box-sizing: border-box;
    max-width: 80%; 
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.message .message-load {
    display: block;
    animation: fade-in-up 1s ease-out forwards;
    width: 100%;
    overflow: visible;

}

.message p {
    line-height: 1.6;
    white-space: pre-wrap;
}

.message h1, .message h2, .message h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-weight: 700;
}

.message ul, .message ol {
    margin-bottom: 1.25rem;
    padding-left: 1.5rem;
}

.message li {
    margin-bottom: 0.5rem;
}

.message code {
    white-space: pre-wrap !important;
    word-break: break-word;
    font-family: inherit;
    background-color: #303030;
    display: inline-block;
    padding: 2.5px;
    border-radius: 10px;
    margin-left: 1;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 0.9em;
    margin-bottom: 10px;
}

.message-load {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; 
}


@keyframes fade-in-up {
    from { 
        opacity: 0; 
        transform: translateY(10px);
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}